@font-face {
    font-family: 'sega logo font';
    font-style: normal;
    font-weight: normal;
    src: url(./SEGA.TTF)
    format('truetype');
}


h1 {
    font-family: 'sega logo font';
    font-weight: 200;
    color: #0ccac4;
}